ul {
    list-style: none;
}

.image {
    width: 1000px;
    transform: scale(0);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 2s;
    border-radius: 10%;
}

.animation {
    transform: scale(100%);
    transition-property: transform, opacity;
    transition-duration: 2s;
    opacity: 1;
}